---

import '../../styles/styles.scss'
import '../../styles/globals.scss'
const { buttonText, href, target, label } = Astro.props;
---


<button type="button" aria-label={label}>
    <a href={href} target={target}>

        { buttonText }
    </a>
</button>


<style>

    button {
        display: flex;
    }

    a {
        @apply px-3;
        @apply py-1;
        @apply rounded-full;
        @apply transition-colors;
        @apply duration-100;

        font-weight: 500;
        font-size: 0.9rem;
        border: 1px rgba(53, 115, 240, 0.25) solid;
    }
    a:hover {
        background-color: #3574F0;
        border: #3574F0 1px solid;
        color: #f0f1f2;
    }

</style>