---
import '../../styles/styles.scss'
import '../../styles/globals.scss'
const {buttonText, label, className} = Astro.props;
---
<script>

</script>

<button class={className} aria-label={label}>
    <a>
            {buttonText}
    </a>
</button>

<style>
    button {
        display: flex;
    }

    a {
        @apply px-3;
        @apply py-1;
        @apply rounded-full;
        @apply transition-colors;
        @apply duration-100;

        font-size: 0.9rem;
        font-weight: 500;
        color: rgb(9, 32, 128);
        border: 1px transparent solid;
    }

    a:hover {
        border: 1px #3574F0 solid;
    }

    a:active {
        color: #F0F1F2;
        font-weight: 500;
        background-color: #3574F0;
        border: 1px transparent solid;
    }

</style>