---
import '../../styles/styles.scss'
import '../../styles/globals.scss'
const {buttonText, label, filterChecked} = Astro.props;
---
<script>
    const button = document.getElementById('filterButton');

    button.addEventListener('click', () => {
        console.log('buttonStatus');
        switch (buttonStatus) {
            case 'filterEnabled':
                button.classList.add('filterDisabled');
                button.classList.remove('filterEnabled');
                console.log('yippie!');
                break;
            case 'filterDisabled':
                button.classList.add('filterEnabled');
                button.classList.remove('filterDisabled');
                console.log('wahoo');
                break;
        }
    })

</script>

<button class="filterDisabled" id=filterButton aria-label={label}>
    <a>
            {buttonText}
    </a>
</button>

<style>

    [data-enabled='enabled'] body {
        color: red;
    }

    button {
        display: flex;
    }

    a {
        @apply px-3;
        @apply py-1;
        @apply rounded-full;
        @apply transition-colors;
        @apply duration-100;

        font-size: 0.9rem;
        border: 1px transparent solid;
    }

    a:hover {
        border: 1px rgba(87, 90, 102, 0.2) solid;
    }

    a:active {

    }

    span:enabled {
        color: red;
    }

</style>