---

import '../../styles/styles.scss'
import '../../styles/globals.scss'
const { target, label } = Astro.props;
---

<script>
    const button = document.getElementById('loginButton')

    button.addEventListener('click', () => {

    })
</script>

<button id="loginButton" type="button" aria-label={label}>
    <a href='/' target={target}>

        Sign Up
    </a>
</button>


<style>

    button {
        display: flex;
    }

    a {
        @apply px-4;
        @apply py-1;
        @apply rounded-full;
        @apply transition-all;
        @apply duration-100;
        color: #F0F1F2;
        font-size: 1.1rem;
        border: 2px #F0F1F2 solid;
        background: #1E1F22;
        outline: 2px transparent solid;

    }
    a:hover {
        background: #3574F0;
        outline: 2px #96aee0 solid;
    }
    a:active {
        background: #3574F0;
        outline: 2px #3574F0 solid;
    }

</style>