---
import Layout from '../layouts/Layout.astro';
import '../styles/styles.scss';
import '../styles/globals.scss';

import MainHeader from "../components/MainHeader.astro";
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
import MainFooter from "../components/MainFooter.astro";
import ThemeSwitch from "../components/util/ThemeSwitch.astro";
import GridOverride from "../components/util/gridOverride.astro";
import AccentOverride from "../components/util/accentOverride.astro";
---

<Layout title="The Design Repo">
    <main>
        <div id="themeSwitch">
            <div id="wrapThemes">
                <!--<div id="accentWrap">-->
                <!--    <AccentOverride/>-->
                <!--</div>-->
                <div id="gridWrap">
                    <GridOverride/>
                </div>
                <ThemeSwitch/>
            </div>
        </div>
        <MainHeader/>
        <Hero/>
        <Content/>
        <MainFooter/>
    </main>
</Layout>


<style>
    #themeSwitch {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 1;
    }
    #wrapThemes {
        position: absolute;
        right: 2rem;
        bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 1000px) {
        #gridWrap {
            display: none;
        }
    }
    @media screen and (max-width: 768px) {
        #themeSwitch {
            display: none;
        }
    }
</style>