---
import Layout from '../layouts/Layout.astro';
import '../styles/styles.scss';
import '../styles/globals.scss';

import MainHeader from "../components/MainHeader.astro";
import Hero from "../components/Hero.astro";
import Content from "../components/Content.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<MainHeader/>
		<Hero/>
		<Content />
	</main>
</Layout>

