---
import '../styles/styles.scss';
import '../styles/globals.scss';
import SignUpButton from "./buttons/SignUpButton.astro";
import LogInButton from "./buttons/LogInButton.astro";
---
<!--TODO:
        1. Header & Subheader
        2. Signup button
        -->

<section>
    <h1>
        the design repo
    </h1>
    <h4>End-all-be-all bookmark repository for designers</h4>
    <!--TODO: Implement auth-->
    <!--<div id="signIn">-->
    <!--    <SignUpButton-->
    <!--            href="/"-->
    <!--            target="_blank"-->
    <!--            label='Sign up button'-->
    <!--    />-->
    <!--    <LogInButton-->
    <!--            href="/"-->
    <!--            target="_blank"-->
    <!--            label='Log in Button'-->
    <!--    />-->
    <!--</div>-->

</section>


<style>

    section {
        top: 1rem;
        position: relative;
        margin: 6rem auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
    #IconWrap {
        aspect-ratio: 1;
        @apply rounded-full;
        padding: 1rem;
        border: solid 1px #3574F0;
        background-color: rgba(62, 96, 238, 0.1);
    }
    #signIn {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
    }
    svg {
        height: 2rem;
        color: #3574F0;
    }
    h1, h4 {
        font-weight: 800;
        text-align: center;
    }
    h4 {
        font-weight: 600;
        color: #6F737A;
    }

</style>