---

---


<footer>


<small>
    <a href="https://cheddzy.com/">Developed by Shachar MW</a> © 2024. All Copyrighted material (screenshots, taglines, etc.) is of their respective owners.
</small>


</footer>


<style>

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        background-color: var(--background);
        color: var(--text);
    }
    a {
        text-decoration: underline;
        text-decoration-color: #3574F0;
        color: var(--text);
    }
    small {
        font-size: 0.75rem !important;
        opacity: 0.5;
    }

</style>