---

---


<footer>


<small>
    <a href="https://cheddzy.com/">Shachar MW</a> © 2024
</small>


</footer>


<style>

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8rem;
        background-color: #1E1F22;
        color: #96aee0;
    }
    a {
        text-decoration: underline;
        text-decoration-color: #3574F0;
    }

</style>