---

import ActionButton from "./buttons/ActionButton.astro";
import GenericButton from "./buttons/GenericButton.astro";
import HeaderAlert from "./HeaderAlert.astro";
---


<header>
    <div>
        <h1>
            <svg data-slot="icon" aria-hidden="true" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            the design repo
        </h1>
        <div class="menu">

            <GenericButton
                        buttonText='About'
                        href="/"
                        target="_blank"
                        label='Aria Label'
            />

            <ActionButton
                        buttonText='Check guides'
                        href="/"
                        target="_blank"
                        label='Aria Label2'
            />

        </div>
    </div>
</header>
<HeaderAlert />


<style>

    .headerWrap {
        display: flex;
    }
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
    }

    header :has(h1) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0 0 0;
    }
    h1 {
        font-size: 1rem !important;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }
    svg {
        height: 1.2rem;
    }

    header {
        position: relative;
        margin: auto;
        max-width: 1400px;
        padding: 0 6%;
    }

</style>