---

---

<script>
let blueBtn = document.getElementById('blueAccent'),
    redBtn = document.getElementById('redAccent'),
    greenBtn = document.getElementById('redAccent');

let btnState;
if(localStorage.getItem('accentTheme') == 'blue') {
    applyTheme(blueBtn, 'blue', redBtn, greenBtn);
} else if(localStorage.getItem('accentTheme') == 'red') {
    applyTheme(redBtn, 'red', blueBtn, greenBtn);
} else {
    applyTheme(greenBtn, 'green', blueBtn, redBtn);
}

blueBtn.addEventListener('click', () => {
    applyTheme(blueBtn, 'blue', redBtn, greenBtn);
})
redBtn.addEventListener('click', () => {
    applyTheme(redBtn, 'red', blueBtn, greenBtn);
})
greenBtn.addEventListener('click', () => {
    applyTheme(greenBtn, 'green', blueBtn, redBtn);
})


function applyTheme(setA, setB, a, b) {
    localStorage.setItem('accentTheme', setB.toString());
    setA.classList.add('active')
    a && b.classList.remove('active');
}


</script>

<div id="accentListWrap">
    <button class="accentButton active" id="blueAccent">

    </button>
    <button class="accentButton" id="redAccent">

    </button>
    <button class="accentButton" id="greenAccent">

    </button>
</div>

<style>
    button {
        width: 3rem;
        height: 0.75rem;
        background-color: #3574F0;
        opacity: 0.7;
        @apply rounded-sm;
        @apply my-1;
        @apply transition-opacity;
        @apply duration-100;
    }
    #accentListWrap {
        border: var(--text-secondary) solid 2px;
        @apply px-1.5;
        @apply rounded-lg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    button:hover svg {
        color: var(--text) !important;
    }
    button.active {
        opacity: 1;
    }
    a {
        width: 100%;
        height: 0.8rem;
        font-family: monospace;
        font-size: 0.6rem;
    }

    svg {
        height: 1rem;
        color: var(--text-secondary) !important;
        @apply transition-colors;
    }

    @media screen and (max-width: 768px) {
        button {
            width: 2.5rem;
            opacity: 1;
        }

        svg {
            height: 1.2rem;
        }
    }
    #blueAccent {
        background-color: #3574F0;
    }
    #redAccent {
        background-color: #bb2d5d;
    }
    #greenAccent {
        background-color: #50c53f;
    }


</style>