---
interface Props {
	title: string;
}

import '../styles/styles.scss';
import '../styles/globals.scss';
import thumbnail from '../assets/bookmarkrepo.png';

const { title } = Astro.props;
---

<!doctype html>
<html data-alertBox="dismissed" lang="en">
	<head>
		<script is:inline>document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'))</script>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Bookmark.svg" />
		<meta content={title} property="og:title" />
		<meta content="End-all-be-all bookmark repository for designers" property="og:description" />
		<meta content="https://repo.cheddzy.com/" property="og:url" />
		<meta content={thumbnail} property="og:image" />
		<meta content="#3574F0" data-react-helmet="true" name="theme-color" />
		<meta name="twitter:card" content="summary_large_image">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	body {
		overflow-y: scroll;
	}
</style>
