---
import '../../styles/styles.scss';
import '../../styles/globals.scss';
import Searchbox from "./Searchbox.astro";
---
<div>
    <section>
        <h3>Filter</h3>

        <svg data-slot="icon" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path clip-rule="evenodd"
                  d="M3.792 2.938A49.069 49.069 0 0 1 12 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 0 1 1.541 1.836v1.044a3 3 0 0 1-.879 2.121l-6.182 6.182a1.5 1.5 0 0 0-.439 1.061v2.927a3 3 0 0 1-1.658 2.684l-1.757.878A.75.75 0 0 1 9.75 21v-5.818a1.5 1.5 0 0 0-.44-1.06L3.13 7.938a3 3 0 0 1-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836Z"
                  fill-rule="evenodd"></path>
        </svg>
        <div id="filterButtonList">
            <button class='filterButton inspiration' aria-label='Inspiration contentt'>Inspiration</button>
            <button class='filterButton personal' aria-label='Personal websites, portfolios, blogs'>Personal</button>
            <button class='filterButton commerce' aria-label='Commerce tools'>Commerce</button>
            <button class='filterButton resources' aria-label='Resources'>Resources</button>
            <button class='filterButton free' aria-label='Free resources'>Free</button>
        </div>
    </section>
</div>

<style>
    #filterButtonList {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        flex-wrap: wrap;
    }


    section {
        min-height: 50px;
        width: 100%;
        align-items: center;
        display: flex;
        position: sticky;
        flex-direction: row;
        justify-content: space-between;
        background-color: #d1def6;
        border: #3574F0 1px solid;
        @apply rounded-lg;
        padding: 0 1rem;
        gap: 0.5rem;
        overflow-x: clip;
    }


    svg {
        height: 1.5rem;
        color: #3574F0;
    }

    h3 {
        display: none;
        font-size: 1rem !important;
    }

    @media screen and (max-width: 800px) {
        section {
            flex-direction: row;
            padding: 1rem;
            border-radius: 0;
        }

    }




    .filterButton {
        display: flex;
    }

    .filterButton {
        @apply px-3;
        @apply py-1;
        @apply rounded-full;
        @apply transition-colors;
        @apply duration-100;

        font-size: 0.9rem;
        font-weight: 500;
        color: rgb(9, 32, 128);
        border: 1px transparent solid;
    }
    .filterButton {
        //color: red !important;
    }

    .filterButton:hover {
        border: 1px #3574F0 solid;
    }

    .filterButton:active {
        color: #F0F1F2;
        font-weight: 500;
        background-color: #3574F0;
        border: 1px transparent solid;
    }
    .filterButton.active {
        color: #F0F1F2;
        font-weight: 500;
        background-color: #3574F0;
        border: 1px transparent solid;
    }


</style>